{{define "loginRegister"}}
<div class="mt-4 max">
    <div class="row">
        <div class="col ml-small">
            <a class="btn btn-style btn-lg bg-main" href="/login">
        Login
      </a>
        </div>

        <div class="col mr-small">
            <a class="btn btn-style btn-lg bg-main" href="/register">
        Register
      </a>
        </div>
    </div>
</div>
{{end}}