<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Flashlight</title>
</head>

<body>
    <div class="container-fluid bg-main text-center">
        <img style="padding: 10px;" src="images/flashlight.svg" width="250px" alt="" />
    </div>
    <div class="mt-4 max">
        <div class="row">
            <div class="col ml-small">
                <a class="btn btn-style btn-lg bg-main" href="/login">
            Login
          </a>
            </div>

            <div class="col mr-small">
                <a class="btn btn-style btn-lg bg-main" href="/register">
            Register
          </a>
            </div>
        </div>
    </div>



    <div class="max post mt-4">
        <div class="post-likes">
            <strong>Max Musterman</strong>
            <p>23.10.2017 - 15:00 Uhr</p>
        </div>
        <img class="image-style" src="https://www.happytravels.de/wp-content/uploads/2019/03/Natur-Landschaften-und-Nationalparks-in-China.jpg" alt="" />
        <div class="post-likes">
            <strong>Gef&auml;llt 12 Leuten</strong>
        </div>
        <div class="post-desc">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>

        <div class="post-comment">
            <p>Keine Kommentare</p>
        </div>
    </div>

    <div class="max post mt-4">
        <div class="post-likes">
            <strong>Max Musterman</strong>
            <p>23.10.2017 - 15:00 Uhr</p>
        </div>
        <img class="image-style" src="https://www.happytravels.de/wp-content/uploads/2019/03/Natur-Landschaften-und-Nationalparks-in-China.jpg" alt="" />
        <div class="post-likes">
            <strong>Gef&auml;llt 12 Leuten</strong>
        </div>
        <div class="post-desc">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>

        <div class="post-comment">
            <p>Keine Kommentare</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>