<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <title>Upload</title>
</head>

<body>
    {{template "header" .}}
    <div class="mt-4 max">
        <div class="ml-small">
            <strong>{{.Username}}</strong><br />
            <p>Hier kannst du ein neues Bild hochladen.</p>
        </div>
    </div>
    <form action="/upload-posting" method="post" enctype="multipart/form-data">
        <div class="max mt-5 ml-small">
            <input type="file" id="img" name="img" accept="image/*" />
        </div>
        <div class="max mt-5 new-description">
            <textarea name="description" rows="3" placeholder="Beschreibung"></textarea>
        </div>
        <div class="max mt-5 text-center">
            <button class="btn bg-main btn-upload">Hochladen</button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>